body{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meio{
    background-color: white;
    color: black;
    padding: 30px;
    width: 30%;
    border-radius: 5px;
}